[submodule "packages/contracts/lib/forge-std"]
	path = packages/contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "packages/contracts/lib/hats-protocol"]
	path = packages/contracts/lib/hats-protocol
	url = https://github.com/Hats-Protocol/hats-protocol
[submodule "packages/contracts/lib/openzeppelin-contracts"]
	path = packages/contracts/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "packages/contracts/lib/openzeppelin-contracts-upgradeable"]
	path = packages/contracts/lib/openzeppelin-contracts-upgradeable
	url = https://github.com/OpenZeppelin/openzeppelin-contracts-upgradeable
[submodule "packages/contracts/lib/core-modules"]
	path = packages/contracts/lib/core-modules
	url = https://github.com/rhinestonewtf/core-modules
[submodule "packages/contracts/lib/modulekit"]
	path = packages/contracts/lib/modulekit
	url = https://github.com/rhinestonewtf/modulekit
[submodule "packages/contracts/lib/experimental-modules"]
	path = packages/contracts/lib/experimental-modules
	url = https://github.com/rhinestonewtf/experimental-modules
[submodule "packages/contracts/lib/staking-eligibility"]
	path = packages/contracts/lib/staking-eligibility
	url = https://github.com/Hats-Protocol/staking-eligibility
[submodule "packages/contracts/lib/hats-module"]
	path = packages/contracts/lib/hats-module
	url = https://github.com/Hats-Protocol/hats-module
